.page-background {
  background-image: url('static/images/background.png');
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  margin-top: 50px;
  width: 80%;
}

.container-border {
  border-radius: 15px;
  box-shadow: 1px 10px 50px -10px rgba(0, 0, 0, 0.55);
  padding: 10px 20px 10px 20px;
  background-color: white;
  flex: 1;
  margin-bottom: 20px;
}

.text-small {
  font-size: 12px;
  font-family: Arial;
  line-height: 14px;
  color: #9b9b9b;
}

.text-medium {
  font-size: 14px;
  font-family: Arial;
  line-height: 18px;
  color: #827e99;
}

.text-large {
  font-size: 15px;
  font-family: Arial;
  line-height: 18px;
  color: #827e99;
  font-weight: 800;
}

.text-xlarge {
  font-size: 24px;
  font-family: Arial;
  line-height: 18px;
  color: #4a4a4a;
  font-weight: 800;
}

.role-heading {
  font-size: 14px;
  font-family: Arial;
  line-height: 16px;
  color: #827e99;
  margin-left: 10px;
  margin-bottom: 10px;
}

.card-style {
  border-radius: 15px;
  box-shadow: 1px 10px 50px -10px rgba(0, 0, 0, 0.55);
  cursor: pointer;
  padding: 10px 20px 10px 20px;
  background-color: white;
  flex: 1;
  margin-bottom: 20px;
}

.profile-img-small {
  width: 60px;
  height: 60px;
  border-radius: 15px;
}

.profile-img-large {
  width: 104px;
  height: 104px;
  border-radius: 50px;
  transform: translateY(42);
  color: #9b9b9b;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.search-input {
  border: 1px solid #9b9b9b;
  border-radius: 15px;
  width: 100%;
  padding: 20px 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

input[type='text']:focus {
  outline: 0;
  box-shadow: 0 0 0 2pt skyblue;
}

.button-black {
  border: none;
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
  color: white;
  border-radius: 15px;
  padding: 20px 0;
  background: black;
  min-width: 360px;
}

.button-grey {
  border: none;
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
  color: white;
  border-radius: 15px;
  padding: 20px 0;
  background: #9b9b9b;
  min-width: 300px;
}

.button-green {
  border: none;
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
  color: white;
  border-radius: 15px;
  padding: 20px 0;
  background: green;
  min-width: 360px;
}

button:focus {
  outline: 0;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.bottom-spacing {
  margin-bottom: 10px;
}

.bottom-large-spacing {
  margin-bottom: 30px;
}
